.modal.fade.in {
    top: 30%;
}

.full-width {
    width: 100%;
}

/**/

#ajax-modal .modal-body{
    padding-right: 25px;
}

.body-editor{
    min-height: 140px;
    max-height: 350px;
    overflow: scroll
}