/** RESET AND LAYOUT
===================================*/

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}
li {list-style-type: none;}
a {text-decoration: none;}
*:focus {outline: none;}
input[type="color"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"], input[type="submit"] {
	margin: 0;
	padding: 0;
	font-family:'GeorgiaRef',Verdana, Arial, Calibri, Geneva,sans-serif;
}
input::-moz-focus-inner, 
button::-moz-focus-inner { 
	border:0;
	padding:0
}
/** Default Text
===================================*/
html {
margin: 0;
padding: 0;
font-size: 62.5%;
}
body {
margin: 0;
padding: 0 0 0 0;
font-family:'GeorgiaRef',Verdana, Arial, Calibri, Geneva,sans-serif;
color: #1f1f1f;
font-size: 12px;
font-size: 1.2rem;
background: #f8f8f8;
}
a, a:visited {
color: #1f1f1f;
text-decoration: none;
}
a:hover {
color: #8b8b8b;
cursor: pointer;
text-decoration: underline;
}
ul,
li {
margin: 0;
padding: 0;
}
/* all */
::-webkit-input-placeholder { color:#000; }
::-moz-placeholder { color:#000; } /* firefox 19+ */
:-ms-input-placeholder { color:#000; } /* ie */
input:-moz-placeholder { color:#000; 
/* clearfix */
}
.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
/* For IE 6/7 only */  
.clearfix {  
    *zoom: 1;  
}