/** RESET AND LAYOUT
===================================*/

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}
li {list-style-type: none;}
a {text-decoration: none;}
*:focus {outline: none;}
input[type="color"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"], input[type="submit"] {
	margin: 0;
	padding: 0;
	font-family: Arial, Calibri, Geneva,sans-serif;
}
img {
	page-break-inside: auto;
}
textarea {
	background: transparent;
	border: 0;
}
textarea, input[type="text"], input[type="text"]:focus, textarea:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
input::-moz-focus-inner, 
button::-moz-focus-inner { 
	border:0;
	padding:0
}
.font-family {
	font-family:'Open Sans Condensed', Arial, Calibri, Geneva,sans-serif;
}
::-webkit-input-placeholder { color:#000; }
::-moz-placeholder { color:#000; } /* firefox 19+ */
:-ms-input-placeholder { color:#000; } /* ie */
input:-moz-placeholder { color:#000; }
textarea {
	resize: none;
	overflow: hidden;
	padding: 0;
}
.big-button {
	background: #229fd9;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 0;
	border-bottom: #1c87b8 solid 3px;
	display: inline-block;
	*display: inline;
	zoom: 1;
	font-family:'Open Sans Condensed', Arial, Calibri, Geneva,sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	color: #fff;
	padding: 3px 25px 2px 25px;
}
.big-button:hover, .big-red {
	color: #fff;
	background: #ea2b4a;
	border-bottom: #af2138 solid 3px;
}
.big-gray {
	color: #000;
	background: #e5e5e5;
	border-bottom: #cccccc solid 3px;
}
/** Default Text
===================================*/
html {
margin: 0;
padding: 0;
font-size: 62.5%;
}
body {
margin: 0;
padding: 0 0 0 0;
font-family: Arial, Calibri, Geneva,sans-serif;
color: #333;
font-size: 12px;
font-size: 1.2rem;
background: #f5f5f5 url('../img/bg-below.jpg');
}
a {
color: #1f1f1f;
text-decoration: none;
}
a:hover {
color: #ea2b4a;
cursor: pointer;
text-decoration: none;
}
ul,
li {
margin: 0;
padding: 0;
}
/* all */
::-webkit-input-placeholder { color:#000; }
::-moz-placeholder { color:#000; } /* firefox 19+ */
:-ms-input-placeholder { color:#000; } /* ie */
input:-moz-placeholder { color:#000; 
/* clearfix */
}
.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
/* For IE 6/7 only */  
.clearfix {  
    *zoom: 1;  
}
.home .header {
	height: 160px;
}
.header-wrap {
	position: relative;
	z-index: 100;
}
.header-wrap .line-color {
	width: 100%;
	height: 3px;
	background: url('../img/line-top.jpg') top center no-repeat;
	border-bottom: #fff solid 1px;
}
.bg-top {
	width: 100%;
	height: 510px;
	position: absolute;
	background: #e3e3e3 url('../img/bg-header.jpg') top center no-repeat;
	top: 3px;
	z-index: -1;
}
.header {
	width: 950px;
	margin: 0 auto;
	position: relative;
}
.header .logo {
	position: absolute;
	left: 0;
	top: 28px;
}
.header .logo a {
	width: 200px;
	height: 120px;
	display: block;
	cursor: pointer;
	background: url('../img/sprites.png') 0 0 no-repeat;
}
.header .navigation {
	position: absolute;
	top: 8px;
	right: 0;
	letter-spacing: 0;
	word-spacing: 0;
	font-size: 0;
	z-index: 100;
}
.header .navigation .level-f {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	margin: 0 5px;
	position: relative;
}
.header .navigation .item {
	font-size: 18px;
	font-family:'Open Sans Condensed', Arial, Calibri, Geneva,sans-serif;
	text-transform: uppercase;
	color: #666;
	-webkit-text-shadow: 1px 1px 0 #fff;
	-moz-text-shadow: 1px 1px 0 #fff;
	text-shadow: 1px 1px 0 #fff;
}
.header .navigation .btn-newpost {
	background: #229fd9;
	color: #fff;
	text-shadow: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border-bottom: #1c87b8 solid 3px;
	padding: 2px 18px 4px 6px;
}
.header .navigation .btn-newpost i {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	width: 18px;
	height: 17px;
	background: url('../img/sprites.png') -200px 0;
}
.header .navigation .btn-newpost .text {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	padding-left: 6px;
}
.header .navigation .current .item, .header .navigation .item:hover {
	color: #ea2b4a;
}
.header .navigation .btn-newpost:hover {
	background: #ea2b4a;
	border-bottom: #af2138 solid 3px;
	color: #fff;
}
.header .navigation .sep {
	border-left: #bebebe solid 1px;
	background: #fff;
	width: 1px;
	height: 25px;
	display: block;
}
.imed, .ismall, .i40 {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	background-image: url('../img/sprites.png');
	background-repeat: no-repeat;
}
.imed {
	width: 30px;
	height: 30px;
}
.ismall {
	width: 18px;
	height: 18px;
}
.i40 {
	width: 40px;
	height: 40px;
}
.imed-noti {
	background-position: 0 -120px;
}
.imed-warning {
	background-position: 0  -150px;
}
.imed-fb {
	background-position: -90px -120px;
}
.imed-tw {
	background-position: -90px -150px;
}
.imed-gg {
	background-position: -90px -180px;
}
.imed-pin {
	background-position: -90px -210px;
}
.imed-rss {
	background-position: -90px -240px;
}
.imed-fb:hover {
	background-position: -120px -120px;
}
.imed-tw:hover {
	background-position: -120px -150px;
}
.imed-gg:hover {
	background-position: -120px -180px;
}
.imed-pin:hover {
	background-position: -120px -210px;
}
.imed-rss:hover {
	background-position: -120px -240px;
}
.imed-tag {
	background-position: -30px -210px;
}
.imed-photo {
	background-position: -30px -180px;
}
.imed-mic {
	background-position: -30px -240px;
}
.imed-like {
	background-position: -60px -303px;
}
.imed-diamond {
	background-position: -30px -303px;
}
.imed-friend {
	background-position: 0 -360px;
}
.imed-message {
	background-position: 0 -390px;
	margin-top: 3px;
}
.imed-fighting {
	background-position: 0 -420px;
}
.imed-friend-red {
	background-position: -30px -360px;
}
.imed-idea {
	background-position: -30px -390px;
}
.imed-flag-red {
	background-position: -30px -420px;
}
.imed-coffee {
	background-position: -30px -450px;
}
.ismall-del {
	background-position: -236px 0px;
}
.ismall-del:hover, .ismall-del-white:hover {
	background-position: -254px 0px;
}
.ismall-delx {
	background-position: -290px 0px;
}
.imed-flag {
	background-position: -3px -303px;
}
.imed-pencil {
	background-position: -3px -333px;
}
.imed-pencil-gray {
	background-position: -33px -333px;
}
.imed-pencil-gray:hover, .active .imed-pencil-gray, li:hover .imed-pencil-gray {
	background-position: -63px -333px;
}
.imed-tags {
	background-position: -93px -333px;
}
.imed-tags:hover, .active .imed-tags, li:hover .imed-tags {
	background-position: -123px -333px;
}
.imed-setting {
	background-position: 0 -450px;
}
.ismall-view {
	background-position: -90px -274px;
}
.ismall-comment {
	background-position: -90px -304px;
}
.ismall-del-white {
	background-position: -272px 0px;
}
.i40-fb {
	background-position: -460px -310px;
}
.i40-tw {
	background-position: -420px -310px;
}
.i40-gg {
	background-position: -380px -310px;
}
.header .navigation .level-f .count {
	border-radius: 14px;
	background: #ea2b4a;
	width: 14px;
	height: 14px;
	display: block;
	position: absolute;
	top: -1px;
	right: -5px;
	color: #d9dbdb;
	font-size: 10px;
	text-align: center;
	line-height: 14px;
}
.header .navigation .ava img {
	padding: 3px;
	background: #fff;
	border: #d0d1d2;
	width: 44px;
	height: 44px;
}
.header .navigation .ava a {
	position: relative;
	display: block;
	padding-right: 18px;
}
.header .navigation .ava a i {
	border-top: 5px solid #444;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	display: block;
	position: absolute;
	right: 0px;
	top: 50%;
	margin-top: -2px;
	width: 0;
	height: 0;
}
.header .navigation .level-f .sub-wrap {
	padding-top: 9px;
	position: absolute;
	right: -20px;
	top: 26px;
	display: none;
	z-index: 100;
}
.header .navigation .level-f:hover .sub-wrap {
	display: block;
}
.header .navigation .level-f .sub {
	background: #e9e9e9 url('../img/bg-subboard.jpg') bottom left repeat-x;
	border: #cccccc solid 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 12px;
	width: 292px;
	padding: 10px;
}
.header .navigation .level-f .newpost-board {
	right: 0;
}
.header .navigation .level-f .newpost-board .sub {
	width: 60px;
	background: #e9e9e9 url('../img/bg-sub-newpost.jpg') bottom left repeat-x;
	padding: 5px 10px;
}
.header .navigation .level-f .sub li {
	*margin-top: -3px;
}
.header .navigation .level-f .sub li a {
	display: block;
	position: relative;
	padding: 10px 0;
	border-bottom: #ccc solid 1px;
	border-top: #fff solid 1px;
}
.header .navigation .level-f .warning-board .sub li a {
	padding: 10px 0 22px 0;
}
.header .navigation .level-f .newpost-board .sub li a {
	padding: 6px 0;
}
.header .navigation .level-f .sub li:first-child a {
	border-top: 0;
}
.header .navigation .level-f .newpost-board .sub li:last-child a {
	border-bottom: 0;
}
.header .navigation .level-f .sub img {
	float: left;
}
.header .navigation .level-f .sub .text {
	margin-left: 60px;
	display: block;
}
.header .navigation .level-f .sub .point {
	position: absolute;
	bottom: 10px;
	left: 60px;
	color: #ea2b4a;
}
.header .navigation .level-f .sub .date {
	position: absolute;
	bottom: 10px;
	right: 0px;
	color: #9e9e9e;
	font-style: italic;
}
.header .navigation .level-f .warning-board .sub .date  {
	bottom: 4px;
}
.header .navigation .level-f .sub .more {
	border-top: #fff solid 1px;
	padding: 12px 0 8px 0;
	text-align: right;
	*margin-top: -3px;
}
.header .navigation .level-f .sub .more .btn-more {
	color: #ea2b4a;
}
.header .navigation .level-f .sub .arrow {
	width: 0;
	height: 0;
	border-bottom: 10px solid #e9e9e9;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	display: block;
	position: absolute;
	right: 24px;
	top: 0px;
}
.main-wrapper {
	width: 950px;
	margin: 0 auto;
	position: relative;
	z-index: 50;
	min-height: 800px;
}
.main-head {
	border-bottom: #fff solid 1px;
	position: relative;
	margin-bottom: 30px;
}
.main-head .line, .filter .line, .ulti .tags-filter .line {
	display: block;
	background: #ccc;
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 5;
}
.main-head .menu, .filter .menu {
	position: relative;
	z-index: 10;
	font-family:'Open Sans Condensed', Arial, Calibri, Geneva,sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	margin-right: 40%;
}
.main-head .menu ul, .filter .menu ul {
	letter-spacing: 0;
	word-spacing: 0;
	font-size: 0;
}
.main-head .menu ul li, .filter ul li {
	display: inline-block;
	*display: inline;
	zoom: 1;
	font-size: 20px;
	margin-right: 35px;
	border-bottom: transparent solid 1px;
}
.main-head .menu ul li:hover, .main-head .menu ul .current, .filter .menu ul li:hover, .filter .menu ul .current {
	border-bottom: #ea2b4a solid 1px;
}
.main-head .menu ul li:hover a, .main-head .menu ul .current a, .filter .menu ul li:hover a, .filter .menu ul .current a {
	color: #ea2b4a;
}
.main-head .menu ul li a, .filter .menu ul li a {
	color: #229fd9;
	line-height: 2em;
	text-shadow: 1px 1px 0 #fff;
}
.main-head .search {
	position: absolute;
	right: 173px;
	bottom: 4px;
}
.main-head .search .input-wrap {
	background: #fff;
	border: #ccc solid 1px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 6px 40px 6px 12px;
}
.main-head .search input[type="text"] {
	border: 0;
	box-shadow: none;
	background: transparent;
	color: #000;
	font-size: 12px;
	line-height: 16px;
	width: 180px;
}
.main-head .search input[type="submit"] {
	padding: 0;
	position: absolute;
	right: 4px;
	top: 2px;
	border: 0;
	margin: 0;
	width: 30px;
	height: 30px;
	background: url('../img/sprites.png') -60px -270px no-repeat;
}
.main-head .social {
	position: absolute;
	right: 0;
	bottom: 7px;
}
.main-head .social ul {
	letter-spacing: 0;
	word-spacing: 0;
	font-size: 0;
}
.main-head .social ul li {
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin:0 1px 0 2px;
}
.footer {
	width: 950px;
	margin: 18px auto;
	padding-top: 20px;
	position: relative;
	font-family:'Open Sans Condensed', Arial, Calibri, Geneva,sans-serif;
	text-transform: uppercase;
}
.footer .line {
	display: block;
	width: 100%;
	height: 1px;
	background: #fff;
	border-top: #ccc solid 1px;
	position: absolute;
	top: 0;
	left: 0;
}
.footer .left {
	float: left;
}
.footer .right {
	float: right;
}
.footer .logo {
	margin-bottom: 16px;
}
.footer .logo a {
	background: url('../img/sprites.png') -380px 0 no-repeat;;
	display: block;
	width: 120px;
	height: 50px;
}
.footer .copyright {
	font-size: 18px;
	text-shadow: 1px 1px 1px #fff;
}
.footer .social  {
	text-align: right;
	margin-top: 10px;
}
.footer .social ul {
	letter-spacing: 0;
	word-spacing: 0;
	font-size: 0;
}
.footer .social ul li {
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin: 0 1px 0 2px;
}
.footer .navi {
	margin-top: 26px;
}
.footer .navi ul {
	letter-spacing: 0;
	word-spacing: 0;
	font-size: 0;
}
.footer .navi ul li {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	font-size: 18px;
}
.footer .navi ul li .sep {
	display: block;
	width: 1px;
	background: #818181;
	border-left: #9a9a9a solid 1px;
	height: 18px;
	margin: 0 9px;
}
.ulti .post {
	float: left;
	width: 630px;
	margin-bottom: 30px;
}
.ulti .post .post-title, .ulti .post .post-text {
	background: #fff;
	border: #ccc solid 1px;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
.ulti .post .post-title {
	margin-bottom: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 12px 15px 13px 15px;
}
.ulti .post .post-text {
	border-bottom: 0;
}
.ulti .post .post-text .post-tab {
	display: none;
}
.ulti .post .post-text .post-tab .post-tab-wrap {
	padding: 12px 15px 13px 15px;
}
.ulti .post .post-text .active {
	display: block;
}
.ulti .post .post-text .post-photo {
	text-align: center;
	padding-top: 10px;
}
ulti .post .post-text .post-photo .buttons {
	letter-spacing: 0;
	word-spacing: 0;
	font-size: 0;
}
.ulti .post .post-text .post-photo p {
	font-family:'Open Sans Condensed', Arial, Calibri, Geneva,sans-serif;
	font-size: 14px;
	color: #070b0f;
	margin-top: 20px;
}
.ulti .post .post-text .post-photo .big-button {
	font-family: Arial;
	text-transform: none;
	font-weight: normal;
	font-size: 14px;
	min-width: 160px;
	padding: 12px 25px;
	margin: 0 4px;
}
.ulti .post .post-text textarea {
	width: 98%;
}
.ulti .post .post-title input[type="text"] {
	display: block;
	background: transparent;
	border: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;	
	width: 98%;
	font-family:'Open Sans Condensed', Arial, Calibri, Geneva,sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	color: #000;
}
.ulti .post .post-alt {
	min-height: 30px;
	background: #fff;
}
.ulti .post .post-foot {
	background: #e5e5e5;
	border: #ccc solid 1px;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	height: 42px;
}
.ulti .post .post-foot ul {
	letter-spacing: 0;
	word-spacing: 0;
	font-size: 0;
	float: left;
}
.ulti .post .post-foot ul li {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	margin-top: -1px;
}
.ulti .post .post-foot ul li a {
	padding: 6px;
	display: block;
	border-left: transparent solid 1px;
	border-right: transparent solid 1px;
	position: relative;
}
.ulti .post .post-foot ul li a span {
	width: 2px;
	height: 2px;
	position: absolute;
	background-image: url('../img/tab-corner.jpg');
	background-repeat: no-repeat;
	top: 0;
	display: none;
}
.ulti .post .post-foot ul .active a span {
	display: block;
}
.ulti .post .post-foot ul li a .left {
	left: -2px;
	background-position: 0 0;
}
.ulti .post .post-foot ul li a .right {
	right: -2px;
	background-position: -2px 0;
}
.ulti .post .post-foot ul .active a {
	background: #fff;
	border-left: #ccc solid 1px;
	border-right: #ccc solid 1px;
}
.ulti .post .post-foot ul li:first-child a {
	border-left: 0;
}
.ulti .post .post-foot ul li:first-child a span.left {
	display: none;
}
 .ulti .post .post-foot ul li a:hover .imed-tag {
	background-position: -60px -210px;
}
.ulti .post .post-foot ul li a:hover .imed-photo {
	background-position: -60px -180px;
}
.ulti .post .post-foot ul li a:hover .imed-mic {
	background-position: -60px -240px;
}
.ulti .post .post-foot ul .active a .imed-tag {
	background-position: 0 -210px;
}
.ulti .post .post-foot .buttons {
	float: right;
	margin-right: 5px;
	margin-top: 5px;
	font-size: 0;
	word-spacing: 0;
	letter-spacing: 0;
}
.ulti .post .post-foot .buttons .big-button {
	margin-left: 3px;
}
.ulti .post .post-foot .buttons .btn-post {
}
.ulti .post-tags .post-alt {
	border-top: #ccc dashed 1px;
}
.ulti .tags-list {
	margin-left: 638px;
}
.ulti .tags-list .title {
	margin-top: 4px;
	position: relative;
	margin-bottom: 5px;
}
.ulti .tags-list .title h2 {
	font-size: 30px;
	font-family:'Open Sans Condensed', Arial, Calibri, Geneva,sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}
.ulti .tags-list .title .btn-more {
	position: absolute;
	right: 0;
	bottom: 6px;
	color: #999;
}
.ulti .tags-list .list {
	padding: 10px;
	background: #fff;
	border: #ccc solid 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.ulti .tags-list .list ul {
	height: 170px;
	letter-spacing: 0;
	word-spacing: 0;
	font-size: 0;
	overflow: auto;
}
.ulti .tags-list .list ul li {
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
	white-space: nowrap;
}
.ulti .tags-list .list ul li a i, .ulti .tags-list .list ul li a .text {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	font-size: 18px;
	font-family:'Open Sans Condensed', Arial, Calibri, Geneva,sans-serif;
}
.ulti .tags-list .list ul li a i {
	width: 18px;
	height: 18px;
	background: url('../img/sprites.png') -218px 0;
}
.ulti .post .post-alt .tags {
	padding: 8px 12px;
	display: none;
}
.ulti .post-tags .post-alt .tags {
	display: block;
}
.ulti .post .post-alt .tags ul {
	letter-spacing: 0;
	word-spacing: 0;
	font-size: 0;
}
.ulti .post .post-alt .tags ul li {
	display: inline-block;
	*display: inline;
	zoom: 1;
	font-size: 12px;
	margin-right: 6px;
}
.ulti .post .post-alt label {
	float: left;
	color: #999;
	margin-right: 5px;
}
.main-wrapper .col-left {
	width: 630px;
	float: left;
}
.main-wrapper .content  {
	margin-top: 20px;
}
.main-wrapper .col-right {
	margin-left: 639px;
}
.col-right .block {
	margin-bottom: 22px;
}
.col-right .block .title {
	position: relative;
}
.col-right .block .title h3 {
	font-family:'Open Sans Condensed', Arial, Calibri, Geneva,sans-serif;
	font-size: 30px;
	font-weight: normal;
	text-transform: uppercase;
}
.col-right .block .title .btn-more {
	position: absolute;
	right: 0;
	bottom: 8px;
	color: #999;
}
.col-right .block .cont {
	background: #fff;
	border: #ccc solid 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position: relative;
}
.col-right .block .buttons {
	margin-top: 6px;
}
.col-right .block .buttons .big-button {
	padding: 2px 10px 3px 10px;
}
.col-right .block .buttons {
	letter-spacing: 0;
	word-spacing: 0;
	font-size: 0;
 }
.col-right .block .buttons li {
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin-right: 6px;
}
.col-right .block .buttons li a i, .col-right .block .buttons li a .text {
	vertical-align: middle;
	display: inline-block;
	*display: inline;
	zoom: 1;
}
.col-right .block .buttons li a .text {
	margin-left: 2px;
}
.col-right .block .buttons .imed {
	width: 24px;
	height: 24px;
}
.suggest .cont { 
	padding: 10px;
	position: relative;
}
.suggest .cont ul li {
	position: relative;
	margin-bottom: 14px;
}
.suggest .cont ul li .ava {
	float: left;
	width: 42px;
	height: 42px;
	padding: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #fff;
	box-shadow: 0 0 1px 0 #ccc;
}
.suggest .cont ul li .info {
	margin-left: 54px;
	margin-right: 60px;
	min-height: 46px;
	overflow: auto;
}
.suggest .cont ul li .info span {
	display: block;
}
.suggest .cont ul li .info .name {
	color: #000;
	padding-top: 6px;
}
.suggest .cont ul li .info .mutual {
	color: #999;
	font-size: 13px;
	margin-top: 6px;
}
.suggest .cont ul li .alt {
	position: absolute;
	top: 10px;
	right: 0;
	letter-spacing: 0;
	word-spacing: 0;
	font-size: 0;
}
.suggest .cont ul li .alt a {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	font-size: 12px;
	margin-right: 2px;
}
.suggest .cont ul li .alt .btn-add {
	background: #e5e5e5;
	padding: 4px 6px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.topics .cont .topic-bg  {
}
.topics .cont .btn-del {
	position: absolute;
	top: 6px;
	right: 6px;
}
.topics .cont .topic-bg img {
	display: block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	width: 309px;
	height: 205px;
}
.topics .cont .topic-bg .title {
	display: block;
	background: #000;
	background: rgba(0,0,0,0.5);
	width: 100%;
	color: #fff;
}
.topics .cont .topic-bg a span {
	display: block;
	font-size: 24px;
	text-transform: uppercase;
	padding: 5px 15px;
	line-height: 1.1em;
}
.topics .cont .topic-bg .title {
	font-family:'Open Sans Condensed', Arial, Calibri, Geneva,sans-serif;
	display: block;
	position: absolute;
	bottom: 0;
}
.topics .cont .topic-nobg {
	padding: 13px 16px;
}
.topics .cont .topic-nobg h2 {
	font-family:'Open Sans Condensed', Arial, Calibri, Geneva,sans-serif;
	font-weight: normal;
	font-size: 24px;
	text-transform: uppercase;
	color: #229fd9;
	line-height: 1.1em;
	margin-bottom: 12px;
}
.topics .cont .topic-nobg .des {
	color: #000;
	margin-bottom: 1em;
}
.topics .cont .topic-nobg .btn-more {
	color: #999;
	font-style: italic;
}
.col-left .topic-list {
	padding-top: 10px;
}
.col-left .topic-list .topic-single {
	margin-bottom: 20px;
}
.col-left .topic-list .topic-single .head {
	background: #e5e5e5;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border: #ccc solid 1px;
	padding: 5px;
	position: relative;
}
.col-left .topic-list .topic-single .head .navi {
	position: absolute;
	bottom: 4px;
}
.col-left .topic-list .topic-single .head .ava {
	float: left;
	position: relative;
}
.col-left .topic-list .topic-single .head .ava img {
	border: #fff solid 2px;
	padding: 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 110px;
	height: 110px;
	background: url('../img/sprites.png') -390px -50px no-repeat;
}
.col-left .topic-list .topic-single .head .ava .name {
	position: absolute;
	padding: 4px;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	color: #fff;
	font-weight: bold;
	background: #000;
	background: rgba(0,0,0,0.5);
	bottom: 12px;
	left: 3px;
}
.col-left .topic-list .topic-single .head .info {
	margin-left: 128px;
	margin-right: 150px;
}
.col-left .topic-list .topic-single .head .info h2 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: normal;
}
.col-left .topic-list .topic-single .head .info h2 a {
	color: #229fd9;
	font-family:'Open Sans Condensed', Arial, Calibri, Geneva,sans-serif;
	-moz-text-shadow: 1px 1px 1px #fff;
	-webkit-text-shadow: 1px 1px 1px #fff;
	text-shadow: 1px 1px 1px #fff;
}
.col-left .topic-list .topic-single .head .diamond {
	background: #ea2b4a;
	position: absolute;
	right: 1px;
	top: 10px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	letter-spacing: 0;
	word-spacing: 0;
	font-size: 0;
}
.col-left .topic-list .topic-single .head .diamond a {
	display: block;
	padding: 1px 10px 2px 10px;
}
.col-left .topic-list .topic-single .head .diamond i, .col-left .topic-list .topic-single .head .diamond .text {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	font-size: 24px;
	font-family:'Open Sans Condensed', Arial, Calibri, Geneva,sans-serif;
	color: #fff;
}
.col-left .topic-list .topic-single .head .diamond .imed {
	margin-right: 0px;
	margin-top: 8px;
	width: 30px;
	height: 30px;
}
.col-left .topic-list .topic-single .alt {
	background: url('../img/topic-nav.jpg') top left repeat-x;
	border: #ccc solid 1px;
	border-top: 0;
	padding: 4px;
}
.col-left .topic-list .topic-single .alt ul {
	letter-spacing: 0;
	word-spacing: 0;
	font-size: 0;
}
.col-left .topic-list .topic-single .alt ul li {
	letter-spacing: 0;
	word-spacing: 0;
	font-size: 0;
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	color: #333;
}
.col-left .topic-list .topic-single .alt ul li .sep {
	width: 1px;
	height: 26px;
	background: #fff;
	border-left: #ccc solid 1px;
	display: block;
	margin: 0 14px;
}
.col-left .topic-list .topic-single .alt ul li i {
	margin-right: 3px;
	width: 28px;
	height: 20px;
}
.col-left .topic-list .topic-single .alt ul li .text {
	font-size: 12px;
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
}
.col-left .topic-list .topic-single .preview {
	background: #fff;
	border: #ccc solid 1px;
	border-top: 0;
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	padding: 14px;
}
.col-left .topic-list .topic-single .preview p {
	padding: .5em 0;
}
.col-left .topic-list .topic-single .buttons {
	text-align: right;
	margin-top: 10px;
}
.col-left .topic-list .topic-single .buttons .imed {
	width: 24px;
	height: 24px;
	margin-right: 6px;
}
.col-left .topic-list .topic-single .buttons .big-button {
	padding: 2px 12px 4px 12px;
}
.col-left .topic-list .topic-single .buttons i, .col-left .topic-list .topic-single .buttons .text {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
}
.navi .tooltip-inner {
	color: #333;
	white-space: nowrap;
	color: #fff;
	padding: 4px 8px;
}
.navi .tooltip.in {
	opacity: 1;
}
.detail .header {
	height: 90px;
}
.detail .header .logo a {
	width: 181px;
	height: 30px;
	background-position: -319px -160px;
}
.page-profile-topics .ulti .post {
	width: 100%;
	margin-bottom: 10px;
	margin-top: 22px;
}
.profile-topic-wrap {
	font-size: 0;
	letter-spacing: 0;
	word-spacing: 0;
}
.profile-topic-wrap .topic-preview {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: top;
	margin-right: 10px;
	margin-bottom: 36px;
}
.topic-preview .cont {
	background: #fff;
	border: #ccc solid 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 12px;
	height: 205px;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
}
.topic-preview .topics {
	width: 310px;
}
.topic-preview .buttons {
	letter-spacing: 0;
	word-spacing: 0;
	font-size: 0;
	margin-top: 6px;
}
.topic-preview .buttons li {
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin-right: 6px;
}
.topic-preview .buttons li a.big-button {
	padding: 3px 10px 2px 5px;
}

.topic-preview .topics .topic-nobg {
	padding: 12px 16px;
}
.profile-topic-wrap {
	width: 980px;
}
.profile-info .avatar {
	float: left;
}
.profile-info .avatar a {
	display: block;
	position: relative;
}
.profile-info .avatar a img {
	display: block;
	width: 163px;
	height: 163px;
	padding: 3px;
	background: #fff;
	border: #d0d2d2 solid 1px;
}
.profile-info .avatar a .name {
	position: absolute;
	padding: 6px 8px;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	color: #fff;
	font-weight: bold;
	background: #000;
	background: rgba(0,0,0,0.5);
	bottom: 12px;
	left: 4px;
	font-size: 16px;
}
.profile-info .profile-info-detail {
	margin-left: 181px;
	height: 171px;
	background: url('../img/bg-info.png') bottom center no-repeat;
	position: relative;
}
.profile-info-detail .info-name {
	width: 290px;
}
.profile-info-detail .info-name h3, .profile-info-detail .info-name .job, .profile-info-detail .info-point .point {
	font-family:'Open Sans Condensed', Arial, Calibri, Geneva,sans-serif;
}
.profile-info-detail .info-name h3 {
	color: #333333;
	font-size: 18px;
}
.profile-info-detail .info-name .job {
	font-size: 14px;
}
.profile-info-detail .info-name .des {
	font-style: italic;
	max-height: 60px;
	overflow: hidden;
}
.profile-info-detail .info-name p {
	margin: 2px 0;
}
.profile-info-detail .info-point {
	position: absolute;
	left: 321px;
	top: 45px;
}
.profile-info-detail .info-point .point-icon {
	background: #ea2b4a;
	height: 30px;
	display: inline-block;
	*display: inline;
	zoom: 1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 0 5px;
	vertical-align: middle;
	margin-right: 12px;
}
.profile-info-detail .info-point .point-icon .imed-diamond {
	margin-top: 3px;
}
.profile-info-detail .info-point .point {
	font-size: 32px;
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	color: #ea2b4a;
}
.profile-info-detail .info-nav {
	position: absolute;
	left: 6px;
	bottom: 8px;
}
.profile-info-detail .info-nav ul, .profile-info-detail .info-stat ul {
	letter-spacing: 0;
	word-spacing: 0;
	font-size: 0;
}
.profile-info-detail .info-nav ul li, .profile-info-detail .info-stat ul li {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	margin-right: 12px;
}
.profile-info-detail .info-stat {
	position: absolute;
	top: 120px;
	left: 316px;
	width: 450px;
}
.profile-info-detail .info-stat ul li {
	width: 210px;
	margin-top: -3px;
}
.profile-info-detail .info-stat ul li .imed {
	margin-right: 0px;
}
.profile-info-detail .info-stat ul li .text {
	font-size: 14px;
	vertical-align: middle;
}
.filter {
	border-bottom: #fff solid 1px;
	position: relative;
	margin-bottom: 10px;
	margin-top: 40px;
}
.filter .sub-menu {
	position: absolute;
	right: 0;
	top: 10px;
	z-index: 100;
}
.filter .sub-menu ul li {
	float: left;
	font-size: 13px;
	margin-right: 0;
}
.filter .sub-menu ul li .text {
	line-height: 26px;
	color: #999;
	font-family: Arial, Calibri, Geneva,sans-serif;
}
.detail .bg-top {
	height: 360px;
}
.filter .sub-menu ul li .sep {
	display: block;
	width: 1px;
	background: #fff;
	border-left: #cccccc solid 1px;
	margin: 2px 10px;
	height: 22px;
}
.filter .sub-menu ul li:hover .text, .filter .sub-menu ul .current .text {
	color: #ea2b4a;
}
.filter .sub-menu ul li .imed {
	margin-right: 3px;
	width: 26px;
	height: 26px;
}
.ulti .tags-filter {
	padding-top: 8px;
	padding-bottom: 22px;
	position: relative;
	border-bottom: #fff solid 1px
}
.ulti .tags-filter ul li {
	float: left;
	position: relative;
	margin-right: 6px;
	margin-bottom: 6px;
}
.ulti .tags-filter ul li .text {
	background: #ccc;
	font-size: 12px;
	padding: 3px 22px 3px 6px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: block;
}
.ulti .tags-filter ul li .text .prefix {
	padding-right: 8px;
	color: #999;
}
.ulti .tags-filter ul li .btn-del {
	position: absolute;
	right: 0;
	top: 1px;
}
.ulti .filter-block {
	display: none;
}
.ulti .filter-block.active {
	display: block;
}
.pop-wrap {
	display: none;
}
.pop-content-wrap .pop-newpost {
	float: none;
	margin: 0 auto;
}
.pop-content-wrap .pop-newpost .post {
	float: none;
	margin: 0 auto;
}
.pop-newpost .post {
	margin-bottom: 0;
}
.pop-content-wrap {
	background: transparent;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	position: relative;
}
.pop-newpost-wrap {
	
}
.pop-content-wrap .btn-close {
	background: url('../img/sprites.png') -200px -18px;
	width: 18px;
	height: 18px;
	position: absolute;
	display: block;
	top: 4px;
	right: 4px;
}
.pop-fighting {
	width: 950px;
	padding: 27px 0 0 0;
}
.pop-fighting .search {
	width: 514px;
	margin: 0 auto 24px auto;
	font-size: 0;
	letter-spacing: 0;
	word-spacing: 0;
}
.pop-fighting .search .input-wrap {
	position: relative;
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin-right: 8px;
}
.pop-fighting .search input[type="text"] {
	width: 360px;
	padding: 6px 32px 6px 12px;
	font-size: 18px;
}
.pop-fighting .search input[type="submit"] {
	width: 32px;
	height: 32px;
	border: 0;
	padding: 0;
	position: absolute;
	top: 0;
	right: 0;
	background: url('../img/sprites.png') -468px -468px no-repeat;
	cursor: pointer;
}
.pop-fighting .user-fighting {
	font-size: 0;
	word-spacing: 0;
	letter-spacing: 0;
	text-align: center;
	padding-bottom: 54px;
	padding-top: 36px;
	background: #fff;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}
.pop-fighting .user-fighting .uf-div {
	display: inline-block;
	*display: inline;
	zoom: 1;
	width: 360px;
	vertical-align: top;
}
.pop-fighting .user-fighting .uf-div .uf-info {
	margin-bottom: 140px;
}
.pop-fighting .user-fighting .uf-div .uf-info .ava,
.uf-winner .uf-info .ava {
	float: left;
	position: relative;
}
.pop-fighting .user-fighting .uf-div .uf-info .ava img,
.uf-winner .uf-info .ava img {
	border: #fff solid 2px;
	padding: 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 110px;
	height: 110px;
	background: url('../img/sprites.png') -390px -50px no-repeat;
}
.pop-fighting .user-fighting .uf-div .uf-info .ava .name,
.uf-winner .uf-info .ava .name {
	position: absolute;
	padding: 4px;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	color: #fff;
	font-weight: bold;
	background: #000;
	background: rgba(0,0,0,0.5);
	bottom: 12px;
	left: 3px;
	font-size: 12px;
}
.pop-fighting .user-fighting .uf-div .uf-info .info,
.uf-winner .uf-info .info {
	margin-left: 125px;
	text-align: left;
}
.pop-fighting .user-fighting .uf-div .uf-info .info h2,
.pop-fighting .user-fighting .uf-div .uf-info .info .job,
.pop-fighting .user-fighting .uf-div .uf-info .info .des,
.pop-fighting .user-fighting .uf-div .uf-block .number,
.uf-winner .uf-info .info h2,
.uf-winner .uf-info .info .job,
.uf-winner .uf-info .info .des,
.uf-winner .uf-block .number{
	font-family:'Open Sans Condensed', Arial, Calibri, Geneva,sans-serif;
}
.pop-fighting .user-fighting .uf-div .uf-info .info h2,
.uf-winner .uf-info .info h2 {
	text-transform: uppercase;
	font-size: 36px;
	font-size: 3.6rem;
	font-weight: normal;
	line-height: 1em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.pop-fighting .user-fighting .uf-div .uf-info .info .job,
.uf-winner .uf-info .info .job {
	font-size: 24px;
	font-size: 2.4rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.pop-fighting .user-fighting .uf-div .uf-info .info .des,
.uf-winner .uf-info .info .des {
	font-size: 16px;
	font-size: 1.6rem;
}
.pop-fighting .uf-comp-arrow {
	width: 80px;
	height: 50px;
	background: url('../img/sprites.png') -310px -50px no-repeat;
	margin: 0 auto;
	position: relative;
	z-index: 20;
}
.pop-fighting .user-fighting .uf-div .uf-info, 
.pop-fighting .user-fighting .uf-div .uf-block {
	font-size: 12px;
	font-size: 1.2rem;
}
.pop-fighting .user-fighting .uf-div .uf-block {
	margin-bottom: 140px;
}
.pop-fighting .user-fighting .uf-div .uf-block .number {
	font-size: 48px;
	font-size: 4.8rem;
	text-transform: uppercase;
	color: #ea2b4a;
	background: #e3e3e3;
	padding: 20px 0;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin-bottom: 8px;
}
.pop-fighting .user-fighting .uf-winner {
	display: inline-block;
}
.pop-fighting .user-fighting .uf-winner .text {
	font-family:'Open Sans Condensed', Arial, Calibri, Geneva,sans-serif;
	color: #ea2b4a;
	font-size: 48px;
	font-size: 4.8rem;
	text-transform: uppercase;
}
.pop-fighting .user-fighting .uf-winner .uf-info {
	width: 420px;
	height: 120px;
	padding: 20px 16px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: #e3e3e3;
}
.pop-fighting .user-fighting .uf-comp {
	width: 154px;
	margin: 0 12px;
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: top;
	position: relative;
	font-size: 12px;
	text-align: center;
}
.pop-fighting .user-fighting .uf-comp .line {
	background: #e3e3e3;
	width: 4px;
	position: absolute;
	left: 50%;
	top: 6px;
	height: 99%;
	margin-left: -2px;
	z-index: 10;
}
.pop-fighting .user-fighting .uf-comp-block {
	margin-bottom: 193px;
	position: relative;
	z-index: 20;
}
.pop-fighting .user-fighting .uf-comp-block.uf-comp-first {
	padding: 6px 0 8px 0;
	margin-bottom: 140px;
}
.pop-fighting .user-fighting .uf-comp-block.uf-comp-idea {
	margin-bottom: 178px;
}
.pop-fighting .user-fighting .uf-comp-block.uf-comp-first .comp-icon {
	width: 100px;
	height: 54px;
	border-radius: 50px;
	background: #e3e3e3;
	text-align: center;
	margin: 0 auto;
	padding: 23px 0;
}
.pop-fighting .user-fighting .uf-comp-block .comp-icon {
	background: #e3e3e3;
	width: 40px;
	height: 24px;
	border-radius: 20px;
	text-align: center;
	margin: 0 auto;
	padding: 8px 0;
}
.pop-fighting .user-fighting .uf-comp-block .comp-top {
	background: #e3e3e3;
	border-radius: 4px;
	padding: 8px 0;
	margin-top: -8px;
}
.pop-fighting .user-fighting .uf-comp-block {
	padding: 22px 0;
}
.uf-comp-block .comp-icon-bigger,
.uf-comp-block .comp-icon-smaller,
.uf-comp-block .comp-icon-equal {
	display: inline-block;
	*display: inline;
	zoom: 1;
	width: 24px;
	height: 24px;
	background-image: url('../img/sprites.png');
	background-repeat: no-repeat;
}
.uf-comp-block.uf-comp-first .comp-icon-bigger,
.uf-comp-block.uf-comp-first .comp-icon-smaller,
.uf-comp-block.uf-comp-first .comp-icon-equal {
	width: 54px;
	height: 54px;
}
.uf-comp-block .comp-icon-bigger {
	background-position: -476px -404px;
}
.uf-comp-block .comp-icon-smaller {
	background-position: -452px -404px;
}
.uf-comp-block .comp-icon-equal {
	background-position: -428px -404px;
}
.uf-comp-block.uf-comp-first .comp-icon-bigger {
	background-position: -446px -350px;
}
.uf-comp-block.uf-comp-first .comp-icon-smaller {
	background-position: -392px -350px;
}
.uf-comp-block.uf-comp-first .comp-icon-equal {
	background-position: -338px -350px;
}
/* modify modal */
.modal {
	width: 950px;
	margin-left: -475px;
	padding: 0;
	position: absolute;
	border: 0;
	background: transparent;
	moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.modal-body {
	max-height: none;
	padding: 0;
	overflow: visible;
}
.modal .close {
	background: url('../img/sprites.png') -200px -18px;
	width: 18px;
	height: 18px;
	position: absolute;
	display: block;
	top: 4px;
	right: 4px;
	z-index: 10;
}
.pop-fighting {
	background: #e3e3e3;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}